[run]
source = 03-development/src
branch = false
data_file = .coverage
relative_files = true

[report]
show_missing = true
skip_covered = false
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
